@use '../core/all' as *;

.categories {
	height: 100%;

	.services {
		padding-top: 4rem;

		// .categories__content
		&__content {
			padding: 8rem 0;
		}

		// .categories__body
		&__body {
			justify-content: flex-end;
		}
	}

	.services-slide {
		// .services-slide__body
		&__body {
			display: flex;
			flex-direction: column;
			gap: 0;
		}

		// .services-slide__row
		&__row {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 2rem;

			&:not(:first-child) {
				margin-top: -6rem;
			}

			&:nth-child(even) {
				justify-content: flex-start;
				flex-direction: row-reverse;
				text-align: right;
				@include screen-690 {
					flex-direction: column;
				}
			}

			@include screen-690 {
				flex-direction: column;
			}
		}

		// .services-slide__info
		&__info {
			font-size: 20px;
			font-weight: 500;
			flex: 0 1 60%;
			height: 100%;
			max-width: 690px;
			color: #808080;
			border: 1px solid rgba(128, 128, 128, 0.09);
			border-radius: 10px;
			backdrop-filter: blur(20px);
			box-shadow: 0 0 7px 10px rgba(0, 0, 0, .1);
			padding: 1rem;

			@include minmax-320-1920 {
				font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
			}
			@include screen-690 {
				text-align: center;
			}
			@include screen-320 {
				font-size: 14px;
			}
		}
	}
}
