@use '../core/all' as *;

.achieve-items {
	position: relative;

	// .achieve-items__body
	&__body {
		position: relative;
		z-index: 9;
		width: 100%;
		padding: 8rem 0 13rem;

	}

	// .achieve-items__title
	&__title {
		font: {
			family: 'AA Neon', Helvetica, sans-serif;
			size: 5rem;
			weight: normal;
		}
		line-height: 100%;
		position: relative;
		z-index: 9;
		display: inline-block;
		width: 100%;
		margin-bottom: 6rem;
		padding: 0 5rem 2rem;
		text-align: center;
		white-space: nowrap;
		letter-spacing: 0;
		color: $neon-blue;
		perspective-origin: 45% 320%;
		transform-style: preserve-3d;
		perspective: 100px;
		filter: $filter;

		@include minmax-490-1920 {
			font-size: calc(17px + (50 - 17) * ((100vw - 490px) / (1920 - 490)));
		}

		@include screen-490 {
			font-size: 17px;
			line-height: 120%;
			margin: 0 0 6rem;
			padding: 0 0 2rem;
		}

		&::before {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			height: 100%;
			content: '';
			transform: translate(0, 10%);
		}

		&::after {
			font: {
				weight: 900;
			}
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 70%;
			content: 'наши достижения';
			transform: rotateX(15deg) translateZ(-5px);
			@extend .shadow-after;
		}
	}

	// .achieve-items__wrapper
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		// height: 100% !important;
		pointer-events: all !important;
		gap: 3rem;
	}

	// .achieve-items__image
	&__image {
		position: relative !important;
		flex: 0 0 30%;
		width: 100%;
		cursor: pointer !important;

		img {
			position: relative;
			z-index: 1;
			width: 100%;
			height: 100%;
			max-height: 310px;
			background-size: contain;
			opacity: 0.6;
			filter: grayscale(1);
		}
	}

	&__bg-image {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			opacity: 1;
			filter: contrast(50%);
		}
	}
}

