@use '../core/all' as *;

.categories {
	height: 100%;

	.services {
		padding-top: 4rem;

		// .categories__content
		&__content {
			padding: 8rem 0;
		}

		// .categories__body
		&__body {
			justify-content: flex-end;
		}
	}

	.services-slide {
		// .services-slide__body
		&__body {
			display: flex;
			flex-direction: column;
			gap: 0;
		}

		// .services-slide__row
		&__row {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 3rem;
			&:not(:first-child) {
				margin-top: -6rem;
			}

			&:nth-child(even) {
				justify-content: flex-start;
				flex-direction: row-reverse;
				text-align: right;
				@include screen-690 {
					flex-direction: column;
				}
			}

			@include screen-690 {
				flex-direction: column;
			}
		}

		// .services-slide__info
		&__info {
			font-size: 30px;
			font-weight: 500;
			flex: 0 1 60%;
			height: 100%;
			max-width: 690px;
			text-transform: uppercase;
			color: #808080;

			@include minmax-320-1920 {
				font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1920 - 320)));
			}
			@include screen-690 {
				text-align: center;
			}
			@include screen-320 {
				font-size: 16px;
			}
		}
	}
}
