extends ../layouts/app_layout
prepend script
	script(defer="defer" src="@@webRoot/js/app/runtime.min.js")
	script(defer="defer" src="@@webRoot/js/app/anime-vendors.min.js")
	script(defer="defer" src="@@webRoot/js/app/swiper-bundle.min.js")
	script(defer="defer" src="@@webRoot/js/app/react-vendors.min.js")
	script(defer="defer" src="@@webRoot/js/about.min.js")
append link
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/about.min.css")
block title
	- var text='Студия звукозаписи "Gusli" Обнинск'

block page-content
	.page
		block button
			._aside#scrollButton
				+iconfont('angle-down', '_button')