.material-parallax {
	position: absolute; /* Позиционирование блока абсолютно */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden; /* Для скрытия части изображения при смещении */
}

.parallax {
	position: absolute; /* Для внутреннего позиционирования контента */
	height: 100%; /* Подгоняет контент под родительский блок */
	display: flex;
	align-items: center;
	justify-content: center;
	will-change: transform; /* Оптимизация для плавного эффекта */
	transition: transform 0.2s ease-out; /* Плавность движения */

	picture {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		will-change: transform;
	}
}

.parallax__image {
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(3px);
	object-fit: cover; /* Избегает искажения при изменении масштаба */
	will-change: transform; /* Оптимизация */
}
