
.parallax {
	position: absolute;
	bottom: 0;
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.18);
	background: rgba(255, 255, 255, 0.02);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	// backdrop-filter: blur(20px);

	// .parallax__image-achieve
	&__image-achieve {
		z-index: -1;
		min-height: 100%;

		filter: grayscale(1);
	}

	.bg {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.3;
	}
}


