extends ../../layouts/app_layout
append link
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/service-style.min.css")
prepend script
	script(defer="defer" type="text/javascript" src="@@webRoot/js/app/runtime.min.js")
	script(defer="defer" type="text/javascript" src="@@webRoot/js/app/anime-vendors.min.js")
	script(defer="defer" type="text/javascript" src="@@webRoot/js/app/swiper-bundle.min.js")
	script(defer="defer" type="text/javascript" src="@@webRoot/js/app/react-vendors.min.js")
	script(defer="defer" type="text/javascript" src="@@webRoot/js/sound-recording.min.js")
block title
	- var text='Студия звукозаписи "Gusli" Обнинск'

block page-content
	.page
		block button
			._aside#scrollButton
				+iconfont('angle-down', '_button')